---
import { Image } from "astro:assets";
import gronlandby from "../assets/images/gl.png";
import kids from "../assets/images/kidsfishing.png";
import mandCitat from "../assets/images/mand-citat.svg";
import gronlandline from "../assets/images/gronland.svg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/src/styles/global.css" />
    <link rel="stylesheet" href="/src/styles/reset.css" />
    <title>Astro</title>
  </head>

  <body>
    <main>
      <body>
        <div class="webfeature-container">
          <div class="webfeature-container-width">
            <!--  intro -->
            <div class="scroll-animation-container intro">
              <div class="sticky-content-container"></div>
              <div class="scroll-content-container">
                <div class="content-intro-placering">
                  <h2>Maliks Udfordringer</h2>
                  <p class="titelLight">
                    Uddannelsesmanglen og dens konsekvenser for unge i Grønland
                  </p>
                </div>
              </div>
            </div>
            <!-- 1 Grønland svg -->
            <div class="scroll-animation-container">
              <div class="relative-content-container">
                <div class="svg-drawing">
                  <Image
                    src={gronlandline}
                    alt="grønland orange linje"
                    class="gronland"
                  />
                  <svg
                    class="svg gronlandLine"
                    id="svg1"
                    xmlns="http://www.w3.org/2000/svg"
                    width="190"
                    height="264"
                    viewBox="0 0 190 264"
                    fill="none"
                  >
                    <path
                      class="theline"
                      d="M1.66909 1C1.66909 5.98326 4.4179 10.3632 3.11416 15.5782C1.7539 21.0192 -1.60769 26.3802 4.72923 30.4539C8.90119 33.1359 10.7702 39.5681 13.1446 43.842C14.875 46.9567 18.7436 50.0606 20.965 53.0225C25.0014 58.4043 30.0914 62.5464 36.0957 65.4331C40.5028 67.5519 45.3255 68.5891 49.9089 70.1933C53.5652 71.473 58.3215 71.5061 61.7244 73.3384C70.0925 77.8443 75.2348 86.8827 83.4855 92.0393C88.6801 95.2859 94.7442 96.4151 100.529 98.1596C106.481 99.9546 113.06 103.052 119.315 103.515C123.315 103.811 127.786 105.808 131.895 106.405C135.99 106.999 138.916 107.612 142.436 109.465C146.063 111.374 149.485 111.329 153.444 112.355C158.719 113.723 161.249 117.072 163.432 121.833C165.178 125.642 167.792 128.705 170.827 131.524C174.445 134.884 176.314 141.076 178.307 145.507C179.497 148.151 180.688 151.074 180.688 154.007C180.688 157.124 180.688 160.241 180.688 163.358C180.688 166.389 180.631 169.25 181.453 172.198C182.02 174.234 183.507 176.44 183.748 178.488C183.934 180.071 185.473 181.669 185.873 183.419C186.813 187.531 186.808 192.035 186.808 196.254C186.808 204.777 188.338 213.083 188.338 221.628C188.338 223.69 184.886 226.234 183.365 227.451C181.052 229.301 184.73 235.093 185.618 236.546C186.687 238.295 188.725 240.74 186.638 242.326C184.226 244.16 180.733 249.572 182.388 252.697C183.263 254.351 185.278 254.285 185.278 256.522C185.278 258.367 185.043 261.76 186.808 262.642"
                      stroke="#FF5000"
                      stroke-width="2"
                      stroke-linecap="round"></path>
                  </svg>
                </div>
              </div>
              <div class="scroll-content-container">
                <div></div>
              </div>
            </div>
            <!------ 2 En grønlandsk barndom-------->
            <div class="scroll-animation-container">
              <div class="relative-content-container">
                <div class="svg-drawing">
                  <svg
                    class="svg"
                    id="svg2"
                    xmlns="http://www.w3.org/2000/svg"
                    width="17"
                    height="248"
                    viewBox="0 0 17 248"
                    fill="none"
                  >
                    <path
                      class="theline"
                      d="M13.5039 1C13.5039 2.80165 13.5431 4.36868 13.9922 5.94051C14.3721 7.27021 13.2714 10.1452 14.1358 11.2257C16.1641 13.761 14.5694 20.5389 11.6656 22.1982C8.17495 24.1929 9.27282 32.6788 11.3209 35.2389C12.4724 36.6783 12.6137 39.7982 13.7337 41.5581C14.9666 43.4956 15.055 46.3481 15.055 48.5955C15.055 51.1203 14.0209 53.4731 14.0209 55.9201C14.0209 58.4214 14.5379 60.7159 14.5379 63.1298C14.5379 68.5901 15.5566 75.2253 11.4358 79.5886C9.8296 81.2892 8.54799 83.7417 8.30486 86.0515C8.05498 88.4253 6.70701 90.5311 6.29419 92.8016C5.64806 96.3553 4.91101 100.015 3.79521 103.487C2.62446 107.129 3.16328 108.9 3.16328 112.851C3.16328 116.245 2.64625 119.402 2.64625 122.732C2.64625 126.82 1.61219 130.912 1.61219 134.911C1.61219 139.56 1.57205 145.476 3.04839 149.905C3.57583 151.487 3.30944 149.891 3.93883 149.388C4.9249 148.599 5.08922 144.734 3.45052 144.734C-0.569269 144.734 1.36378 151.763 2.24412 153.524C3.0396 155.115 4.82504 157.253 5.20268 158.953C5.5619 160.569 5.67736 162.235 6.15057 163.864C7.09032 167.101 9.71314 169.602 11.1773 172.597C11.5218 173.301 11.5556 174.715 12.2113 175.239C13.4093 176.197 13.0992 182.758 13.2166 184C13.4905 186.895 13.6575 189.9 13.5039 192.818C13.387 195.04 11.409 196.687 10.9475 198.764C9.67024 204.511 12.3031 210.035 11.3209 215.682C10.7406 219.019 10.2538 222.141 8.5921 225.133C7.61614 226.889 7.29952 229.335 7.29952 231.337C7.29952 236.421 7.29952 241.505 7.29952 246.589"
                      stroke="#FF5000"
                      stroke-width="2"
                      stroke-linecap="round"></path>
                  </svg>
                </div>
              </div>
              <div class="scroll-content-container">
                <div class="slide-text-content">
                  <h2>2 En grønlandsk barndom</h2>
                  <p class="bodyLight">
                    Malik, en 22-årig fra Nuuk i Grønland, har altid været tæt
                    forbundet med naturen. Opvokset i en naturglad familie,
                    lærte han tidligt at fiske af sin far. Som barn tilbragte
                    han mange timer med ham på fisketure og vandreture omkring
                    Nuuk, hvilket gav ham stor glæde og en livslang passion for
                    naturen.
                  </p>
                  <Image
                    src={gronlandby}
                    alt="billede af en by i grønland"
                    class="billede"
                  />
                </div>
              </div>
            </div>
            <!-- ---3---- -->
            <div class="scroll-animation-container section-height">
              <div class="sticky-content-container sticky-element">
                <div class="svg-drawing">
                  <svg
                    id="svg3"
                    xmlns="http://www.w3.org/2000/svg"
                    width="17"
                    height="633"
                    viewBox="0 0 311 633"
                    fill="none"
                  >
                    <path
                      class="theline"
                      d="M29.058 2C29.058 7.89297 31.4168 13.2468 31.4168 19.1232C31.4168 24.6406 32.3862 28.4887 34.7366 33.4508C36.2697 36.6874 36.1344 39.319 36.1344 42.886C36.1344 48.4183 37.707 53.2165 37.707 58.6114C37.707 61.6546 37.707 64.6977 37.707 67.7409C37.707 72.454 39.2795 76.8563 39.2795 81.4132C39.2795 84.6083 41.8548 91.6367 39.629 93.9935C35.5631 98.2985 34.5619 102.189 34.5619 108.234C34.5619 116.329 34.5619 124.425 34.5619 132.521C34.5619 138.378 33.7756 144.566 33.7756 150.605C33.7756 152.542 35.7818 152.059 33.7756 152.177C32.9982 152.223 32.2484 155.294 32.2031 156.109C31.8725 162.059 30.5889 171.094 34.955 175.46C38.4797 178.984 38.4932 183.43 38.4932 187.996C38.4932 193.67 36.636 202.279 39.1048 207.216C39.3991 207.805 41.0123 212.473 39.2795 211.759C36.6228 210.665 36.1344 210.492 36.1344 213.681C36.1344 218.595 37.224 225.23 35.7413 229.974C34.384 234.318 36.4745 239.627 34.1688 243.778C31.235 249.059 30.6305 252.668 30.6305 258.717C30.6305 264.19 30.6581 268.493 28.3154 273.569C25.2057 280.306 22.9859 287.694 20.409 294.667C17.9987 301.189 19.1218 306.351 11.7601 303.753C10.4339 303.285 3.67511 315.548 2.93639 317.469C2.09078 319.667 -4.59997 324.342 2.32485 325.157C3.8142 325.332 7.39084 330.504 7.78505 331.884C9.64896 338.407 14.0446 345.6 21.5884 345.6C26.7257 345.6 34.4694 352.965 37.707 356.608C40.1451 359.35 41.9898 363.074 44.6087 365.431C47.6786 368.194 50.132 368.863 53.8692 369.93C60.8721 371.931 69.2516 368.894 75.4479 366.829"
                      stroke="#FF5000"
                      stroke-width="3"
                      stroke-linecap="round"></path>
                  </svg>
                </div>
              </div>
              <div class="scroll-content-container">
                <div class="slide-text-content">
                  <h2>Fra skolebøger til fisketrawlere</h2>
                  <p class="bodyLight">
                    Malik og hans venner fra de omkringliggende bygder har altid
                    fisket sammen. Han så flere og flere af dem vælge at droppe
                    uddannelsen og i stedet træde direkte ind på arbejdsmarkedet
                    som fiskere på trawlere. Her kunne de tjene gode penge og
                    skiftevis nyde to måneders frihed efterfulgt af to måneders
                    arbejde til søs.
                  </p>
                  <Image
                    src={kids}
                    alt="billede af en by i grønland"
                    class="billede"
                  />
                </div>
              </div>
            </div>
            <!-- ---4--- -->
            <div class="scroll-animation-container simple">
              <div class="sticky-content-container sticky-element">
                <div class="svg-drawing">
                  <svg
                    id="svg4"
                    xmlns="http://www.w3.org/2000/svg"
                    width="311"
                    height="633"
                    viewBox="0 0 311 633"
                    fill="none"
                  >
                    <path
                      class="theline"
                      d="M29.058 2C29.058 7.89297 31.4168 13.2468 31.4168 19.1232C31.4168 24.6406 32.3862 28.4887 34.7366 33.4508C36.2697 36.6874 36.1344 39.319 36.1344 42.886C36.1344 48.4183 37.707 53.2165 37.707 58.6114C37.707 61.6546 37.707 64.6977 37.707 67.7409C37.707 72.454 39.2795 76.8563 39.2795 81.4132C39.2795 84.6083 41.8548 91.6367 39.629 93.9935C35.5631 98.2985 34.5619 102.189 34.5619 108.234C34.5619 116.329 34.5619 124.425 34.5619 132.521C34.5619 138.378 33.7756 144.566 33.7756 150.605C33.7756 152.542 35.7818 152.059 33.7756 152.177C32.9982 152.223 32.2484 155.294 32.2031 156.109C31.8725 162.059 30.5889 171.094 34.955 175.46C38.4797 178.984 38.4932 183.43 38.4932 187.996C38.4932 193.67 36.636 202.279 39.1048 207.216C39.3991 207.805 41.0123 212.473 39.2795 211.759C36.6228 210.665 36.1344 210.492 36.1344 213.681C36.1344 218.595 37.224 225.23 35.7413 229.974C34.384 234.318 36.4745 239.627 34.1688 243.778C31.235 249.059 30.6305 252.668 30.6305 258.717C30.6305 264.19 30.6581 268.493 28.3154 273.569C25.2057 280.306 22.9859 287.694 20.409 294.667C17.9987 301.189 19.1218 306.351 11.7601 303.753C10.4339 303.285 3.67511 315.548 2.93639 317.469C2.09078 319.667 -4.59997 324.342 2.32485 325.157C3.8142 325.332 7.39084 330.504 7.78505 331.884C9.64896 338.407 14.0446 345.6 21.5884 345.6C26.7257 345.6 34.4694 352.965 37.707 356.608C40.1451 359.35 41.9898 363.074 44.6087 365.431C47.6786 368.194 50.132 368.863 53.8692 369.93C60.8721 371.931 69.2516 368.894 75.4479 366.829"
                      stroke="#FF5000"
                      stroke-width="3"
                      stroke-linecap="round"></path>
                  </svg>
                </div>
              </div>
              <div class="scroll-content-container">
                <div class="slide-text-content">
                  <p class="bodyLight">
                    Det tiltalte Malik, da han på denne måde kunne tjene godt og
                    samtidig beskæftige sig med fiskeriet.
                  </p>
                  <p class="bodyLight">
                    Desuden fandt Malik det svært at fortsætte med en uddannelse
                    og kunne ikke længere se sig selv på skolebænken. Derfor
                    besluttede han, efter at have afsluttet 9. klasse, at
                    arbejde på en fisketrawler.
                  </p>
                </div>
              </div>
            </div>

            <!-- 5 -->
            <div class="scroll-animation-container small">
              <div class="sticky-content-container">
                <div class="svg-drawing">
                  <svg
                    id="svg5"
                    xmlns="http://www.w3.org/2000/svg"
                    width="311"
                    height="633"
                    viewBox="0 0 311 633"
                    fill="none"
                  >
                    <path
                      class="theline"
                      d="M29.058 2C29.058 7.89297 31.4168 13.2468 31.4168 19.1232C31.4168 24.6406 32.3862 28.4887 34.7366 33.4508C36.2697 36.6874 36.1344 39.319 36.1344 42.886C36.1344 48.4183 37.707 53.2165 37.707 58.6114C37.707 61.6546 37.707 64.6977 37.707 67.7409C37.707 72.454 39.2795 76.8563 39.2795 81.4132C39.2795 84.6083 41.8548 91.6367 39.629 93.9935C35.5631 98.2985 34.5619 102.189 34.5619 108.234C34.5619 116.329 34.5619 124.425 34.5619 132.521C34.5619 138.378 33.7756 144.566 33.7756 150.605C33.7756 152.542 35.7818 152.059 33.7756 152.177C32.9982 152.223 32.2484 155.294 32.2031 156.109C31.8725 162.059 30.5889 171.094 34.955 175.46C38.4797 178.984 38.4932 183.43 38.4932 187.996C38.4932 193.67 36.636 202.279 39.1048 207.216C39.3991 207.805 41.0123 212.473 39.2795 211.759C36.6228 210.665 36.1344 210.492 36.1344 213.681C36.1344 218.595 37.224 225.23 35.7413 229.974C34.384 234.318 36.4745 239.627 34.1688 243.778C31.235 249.059 30.6305 252.668 30.6305 258.717C30.6305 264.19 30.6581 268.493 28.3154 273.569C25.2057 280.306 22.9859 287.694 20.409 294.667C17.9987 301.189 19.1218 306.351 11.7601 303.753C10.4339 303.285 3.67511 315.548 2.93639 317.469C2.09078 319.667 -4.59997 324.342 2.32485 325.157C3.8142 325.332 7.39084 330.504 7.78505 331.884C9.64896 338.407 14.0446 345.6 21.5884 345.6C26.7257 345.6 34.4694 352.965 37.707 356.608C40.1451 359.35 41.9898 363.074 44.6087 365.431C47.6786 368.194 50.132 368.863 53.8692 369.93C60.8721 371.931 69.2516 368.894 75.4479 366.829"
                      stroke="#FF5000"
                      stroke-width="3"
                      stroke-linecap="round"></path>
                  </svg>
                </div>
              </div>
              <div class="scroll-content-container">
                <div class="slide-text-content placering">
                  <h2 class="padding-h2">Da hverdagen tabte sin glans</h2>
                </div>
              </div>
            </div>

            <!-- ---6--- -->
            <div class="scroll-animation-container long">
              <div class="sticky-content-container">
                <div class="svg-drawing">
                  <svg
                    id="svg6"
                    xmlns="http://www.w3.org/2000/svg"
                    width="100"
                    height="300"
                    viewBox="0 0 201 224"
                    fill="none"
                  >
                    <path
                      class="theline"
                      d="M112.005 117.555C110.632 117.266 109.586 115.534 108.666 114.577C107.296 113.154 105.886 111.543 104.763 109.91C103.323 107.815 101.975 105.364 102.168 102.729C102.521 97.9294 106.455 94.5654 109.591 91.3629C112.376 88.52 113.257 85.0531 115.325 81.8477C116.544 79.9584 118.359 78.6462 120.555 78.1262C122.617 77.6377 125.071 77.3993 127.173 77.6836C132.572 78.4137 133.362 83.7589 134.254 88.3052C135.656 95.4505 136.427 102.786 136.829 110.051C137.037 113.796 137.303 117.95 136.427 121.659C135.319 126.35 131.598 130.774 127.475 133.185C125.048 134.605 121.998 134.262 119.388 133.588C115.179 132.5 110.449 130.884 106.695 128.659C101.594 125.637 97.8092 120.827 93.7798 116.589C87.7747 110.274 82.122 103.802 77.5055 96.3719C76.8636 95.339 74.6282 92.8488 75.5944 91.4434C76.4005 90.2709 78.0141 89.5228 79.2154 88.9087C83.3387 86.8008 87.7386 85.1047 92.2912 84.2014C100.781 82.517 109.812 82.5016 118.443 82.4311C120.749 82.4123 124.256 81.7941 126.53 82.5518C130.862 83.9958 130.682 92.6185 130.915 95.8087C131.388 102.276 131.467 108.821 130.231 115.221C129.209 120.516 127.33 127.621 123.07 131.395C119.614 134.457 113.989 133.906 110.316 131.636C105.419 128.61 102.952 122.757 99.1912 118.601C97.373 116.591 95.3622 115.504 93.0355 114.256C87.5278 111.3 95.2282 104.676 97.8031 103.031C102.978 99.7239 108.916 97.9119 114.902 96.7944C116.059 96.5785 118.642 96.427 116.331 95.2454C112.654 93.3663 105.829 90.4036 101.625 92.248C99.0978 93.3571 97.1333 95.5666 95.027 92.6101C93.7996 90.8872 93.0144 88.6929 91.2049 87.4402C88.171 85.3398 83.9813 87.0691 81.3075 88.8684C71.6203 95.3875 63.7659 106.847 58.2539 116.911C54.3501 124.038 52.8137 132.074 61.4323 136.364C68.3567 139.811 76.5291 141.37 84.0434 142.821C91.6783 144.295 99.4034 145.179 107.137 145.919C112.571 146.439 118.075 146.723 123.472 147.569C127.428 148.189 132.943 148.934 135.341 152.678C135.863 153.494 136.125 158.177 137.835 156.299C140.005 153.917 141.232 150.392 142.12 147.408C144.593 139.1 145.216 130.078 144.635 121.457C143.733 108.088 138.426 93.9476 127.797 85.2273C119.124 78.1123 104.325 75.4636 94.6247 82.1897C88.4753 86.4535 84.4915 93.419 81.7903 100.194C77.8232 110.144 75.3278 122.116 79.1752 132.602C88.3318 157.559 119.987 152.551 140.792 153.664C143.487 153.808 145.907 154.16 148.457 154.972C149.106 155.178 150.481 155.132 150.328 155.796C150.184 156.418 147.002 157.306 146.888 157.345C139.883 159.735 132.665 161.1 125.282 161.691C108.282 163.05 91.2174 162.166 76.037 153.724C73.782 152.47 71.0382 150.798 69.6801 148.474C68.7743 146.924 68.6072 146.345 70.0824 144.773C72.6356 142.051 79.7984 137.894 81.9512 136.525C94.887 128.295 107.654 119.929 120.092 110.956C126.395 106.41 133.015 100.098 140.209 96.7743C142.529 95.7025 144.255 95.6487 146.083 97.3979C148.3 99.52 145.755 96.2028 145.319 95.5069C142.191 90.517 138.598 85.8163 134.536 81.546C126.004 72.576 116.533 67.5365 104.08 66.4384C93.6135 65.5156 82.7582 66.7635 72.9792 70.7635C60.9057 75.7021 50.4391 85.1806 42.0801 94.9839C39.9622 97.4678 25.4118 115.127 34.3151 118.319C36.3094 119.034 38.4463 119.307 40.5513 119.546C49.5086 120.565 62.2671 120.716 70.7463 120.854C76.6189 120.949 98.7199 120.998 105.629 121.276C111.924 121.53 119.04 121.274 124.578 125.139C132.769 130.855 134.135 142.12 135.18 151.149C135.971 157.984 135.966 165.127 135.461 171.99C135.228 175.166 135.001 178.634 133.812 181.646C133.692 181.949 132.502 184.36 131.76 183.175C127.988 177.148 125.407 167.918 123.029 161.711C115.03 140.824 107.244 119.855 100.137 98.6451C93.8252 79.8089 88.0185 60.7989 82.7157 41.6548C80.5915 33.9859 79.5133 29.8409 77.7268 22.4635C77.5796 21.8556 75.8085 15.2766 75.9565 13.3708C76.1679 10.649 83.6603 14.3188 83.7617 14.3565C92.2085 17.4968 101.008 20.9692 108.445 26.1448C116.811 31.9672 124.699 41.1993 123.633 52.3367C121.502 74.5876 94.5788 81.2592 76.7209 83.4772C71.912 84.0745 67.039 83.9146 62.1967 84.1008C56.2378 84.33 50.2054 83.6114 44.655 86.4142C37.6759 89.9386 34.5224 98.7178 32.1425 105.525C29.2406 113.825 26.1838 123.67 26.7311 132.602C27.5251 145.557 40.5454 150.049 51.374 152.578C62.4048 155.154 73.8619 155.82 85.1297 154.77C92.4291 154.09 99.6246 152.322 106.775 150.787C111.071 149.866 116.009 148.346 120.454 148.414C126.181 148.501 126.923 155.722 128.018 159.92C128.55 161.957 129 164.013 129.507 166.056C129.952 167.849 129.857 169.885 130.875 171.427C131.233 171.97 132.488 171.604 132.786 171.025C134.346 167.99 135.106 164.603 136.065 161.328C150.596 111.703 132.512 168.946 151.474 106.893C159.454 80.7803 168.598 55.171 177.747 29.4641C179.819 23.6412 182.17 17.4554 183.279 11.2988C183.494 10.1006 185.687 2.22995 181.649 1.16001C179.773 0.6628 177.665 1.40429 175.936 2.28654C168.925 5.86402 157.766 16.0668 152.882 20.7938C133.702 39.3584 116.673 60.1683 100.177 81.1034C93.0616 90.1335 85.8628 99.1936 79.1349 108.522C77.9227 110.203 69.4705 120.455 75.2926 121.659C77.3219 122.078 79.4413 121.88 81.5087 121.739C86.7007 121.384 102.462 119.15 106.735 118.52C121.833 116.296 136.865 113.674 151.997 111.681C156.002 111.153 160.009 110.641 164.027 110.232C166.998 109.93 169.976 109.684 172.959 109.548C175.29 109.442 177.921 108.373 179.959 109.508C181.329 110.271 181.72 112.641 181.086 114.075C178.99 118.816 175.817 123.104 172.275 126.889C156.882 143.337 135.02 160.368 116.069 171.749C91.9012 186.263 66.3429 195.907 38.5396 199.731C35.497 200.15 32.4345 200.737 29.3664 200.596C24.9156 200.392 28.3835 196.526 29.4067 195.285C38.896 183.782 50.5901 173.621 61.0099 162.998C73.9654 149.79 86.3618 136.165 98.6279 122.322C103.675 116.626 109.553 111.016 114.057 104.841C117.792 99.7212 108.208 103.677 107.68 103.855C94.9416 108.167 82.4835 113.605 70.1629 118.963C54.2522 125.882 38.1454 132.993 23.8142 142.902C20.7872 144.995 17.8581 147.234 15.0233 149.58C14.9009 149.682 3.47972 156.784 8.66643 160.926C11.7524 163.391 15.8702 164.377 19.7507 165.11C35.7465 168.135 60.6088 168.431 75.9967 167.444C101.447 165.812 128.854 161.601 152.561 151.592C157.675 149.433 165.8 146.694 165.596 139.301C165.4 132.185 158.058 126.317 153.546 122.503C133.553 105.605 107.681 95.9063 83.5203 86.6959C79.5286 85.1742 75.2282 83.8897 71.4504 81.8276C70.3727 81.2394 67.5689 80.0645 68.634 79.4539C69.3177 79.0619 70.2301 79.4582 70.9877 79.6752C73.1979 80.3081 75.3789 81.0674 77.4854 81.9886C104.358 93.7399 128.27 111.608 150.951 129.947C156.592 134.507 162.144 139.17 167.869 143.626C169.768 145.104 174.246 149.072 169.66 143.686C162.287 135.028 144.77 116.323 139.203 110.433C131.391 102.168 123.628 93.8524 115.586 85.8107C108.045 78.2699 87.5795 58.2543 77.0428 51.6125C73.1169 49.1378 68.7426 46.699 64.1078 46.4626C52.528 45.872 52.1348 57.4858 51.897 65.5533C51.2763 86.6109 59.3671 107.186 69.9617 124.958C74.407 132.414 84.5279 145.705 90.5209 152.558C92.8944 155.272 100.012 162.581 103.838 164.909C109.719 168.488 113.067 164.991 113.937 158.794C116.128 143.174 110.944 125.681 106.252 111.077C100.064 91.8165 91.5024 73.3302 81.2472 55.9174C76.139 47.2441 71.5029 40.1002 65.0734 32.5017C62.3758 29.3136 57.8277 23.6465 52.923 22.7854C44.5267 21.3112 41.8545 34.9913 41.2352 40.146C39.1497 57.5059 43.6611 74.6541 52.5408 89.5725C66.7104 113.378 87.8312 132.961 109.471 149.862C115.828 154.827 124.701 160.841 132.605 164.185C132.827 164.279 132.795 163.58 132.585 163.461C129.617 161.776 126.48 160.407 123.391 158.955C101.003 148.431 78.4835 138.233 56.2623 127.352C44.4703 121.577 32.8571 115.374 20.837 110.071C17.0017 108.379 12.7202 106.291 8.56584 105.404C2.76641 104.166 18.7972 111.495 24.297 113.712C52.5379 125.1 82.0453 131.241 111.301 139.22C118.474 141.176 126.017 143.133 132.846 146.161C134.239 146.778 136.692 147.614 136.347 149.098C135.966 150.73 130.664 153.769 130.513 153.845C117.581 160.34 102.808 163.444 88.63 165.553C82.1185 166.521 75.576 167.48 68.9961 167.685C60.0571 167.964 45.1345 167.294 36.9303 161.972C22.193 152.412 23.3461 133.202 29.8895 119.365C42.9903 91.6616 72.4058 78.5973 100.821 73.0769C118.111 69.7178 135.859 69.4177 153.405 69.7174C163.558 69.8908 174.214 70.0751 184.244 71.9303C185.283 72.1224 195.047 73.6646 192.231 77.8445C190.426 80.5223 183.224 83.6443 181.166 84.4026C172.495 87.5987 161.119 90.0574 152.319 91.6848C134.906 94.905 117.266 97.0153 99.6539 98.7859C92.3512 99.5201 85.0014 99.9761 77.7268 100.979C77.2512 101.044 64.6742 101.381 68.8151 105.344C73.1667 109.508 87.0895 116.125 90.3198 117.696C103.727 124.213 113.316 128.31 127.173 133.608C131.841 135.392 136.616 136.885 141.295 138.637C144.473 139.827 151.999 141.398 149.905 144.068C148.761 145.527 146.633 145.824 144.916 146.523C140.939 148.141 131.846 150.971 127.978 152.296C120.731 154.78 113.649 157.534 106.775 160.926C102.471 163.05 102.455 163.231 98.6883 165.312C96.7971 166.356 98.3875 165.356 99.2918 164.467C107.575 156.32 114.355 147.004 121.018 137.51C136.138 115.966 149.695 93.3287 165.455 72.232C172.658 62.5908 180.563 53.5477 188.61 44.6119C191.563 41.3322 194.743 38.2552 197.582 34.8755C198.435 33.8589 200.023 31.6724 198.829 31.0935C197.758 30.5749 196.477 30.6701 195.288 30.651C190.024 30.5661 183.809 31.4575 178.793 32.2804C162.341 34.9793 145.882 39.4617 130.915 46.9857C112.704 56.1405 94.6408 68.8444 85.3107 87.6011C80.1126 98.051 78.3363 107.161 82.6151 118.299C87.1848 130.194 95.2659 136.265 105.91 142.56C118.447 149.974 132.355 153.87 146.767 155.052C151.983 155.48 157.255 154.967 162.478 155.294C171.87 155.88 161.804 168.96 159.4 171.588C143.99 188.434 122.251 196.604 99.5734 194.078C76.3306 191.49 54.626 180.491 33.5909 170.944C29.1266 168.918 24.7145 166.795 21.5612 162.857C15.6687 155.5 12.2964 146.312 12.2673 136.847C12.2053 116.692 23.5671 99.3393 35.8842 84.2819C46.1072 71.7844 62.1789 56.5061 74.5483 45.9396C80.0737 41.2196 90.6547 33.1081 97.8031 28.9612C100.364 27.4756 105.6 24.8013 108.686 26.8087C113.292 29.804 112.454 38.8801 112.408 43.1635C111.978 82.7716 103.541 122.004 105.427 161.731C105.9 171.693 107.153 181.909 111.201 191.141C111.811 192.534 114.347 198.191 117.115 196.13C120.828 193.366 121.581 185.622 122.144 181.727C123.148 174.789 123.029 171.148 123.432 164.145C123.516 162.676 123.759 153.498 125.202 151.391C128.407 146.71 134.953 157.828 137.996 162.616C142.329 169.433 146.218 176.63 149.905 183.819C150.171 184.337 150.554 184.831 150.629 185.408C150.668 185.705 150.205 184.984 150.026 184.744C148.695 182.964 147.424 181.14 146.103 179.353C128.747 155.875 110.787 132.699 91.0037 111.198C77.7851 96.8313 63.474 83.0546 48.1151 70.9647C38.4574 63.3625 24.5956 52.7094 11.181 54.469C5.3262 55.237 2.83295 59.9899 1.78654 65.151C-0.215129 75.0236 1.59244 85.6182 7.33873 93.958C16.7387 107.6 35.262 116.551 51.2734 119.043C65.5873 121.272 78.4145 117.403 89.153 107.979C93.7414 103.953 82.5691 118.261 79.2556 123.389C72.2774 134.186 66.7637 145.687 64.6711 158.452C64.6634 158.499 63.854 162.359 64.4498 162.616C64.7087 162.728 64.9947 162.413 65.1941 162.214C66.4379 160.97 68.7948 157.483 69.4991 156.48C74.3656 149.552 78.9938 142.414 84.5664 136.022C87.0018 133.228 82.4638 135.682 81.3477 136.223C79.001 137.361 78.7915 137.521 78.6722 140.025C78.5038 143.563 78.3303 147.056 78.3303 150.606C78.3303 158.146 77.6737 166.07 79.0545 173.519C81.1124 184.621 86.2964 194.312 91.3658 204.197C94.643 210.587 94.6247 216.064 94.6247 222.926"
                      stroke="#FF5000"
                      stroke-width="2"
                      stroke-linecap="round"></path>
                  </svg>
                </div>

                <Image
                  src={mandCitat}
                  alt="billede af en by i grønland"
                  class="citat-img"
                />
              </div>
              <div class="scroll-content-container">
                <div class="slide-text-content placering">
                  <p class="hidden">
                    Desuden fandt Malik det svært at fortsætte med en uddannelse
                    og kunne ikke længere se sig selv på skolebænken. Derfor
                    besluttede han, efter at have afsluttet 9. klasse, at
                    arbejde på en fisketrawler.
                  </p>
                </div>
              </div>
            </div>
            <!-- ---7--- -->
            <div class="scroll-animation-container simple">
              <div class="sticky-content-container sticky-element">
                <div class="svg-drawing">
                  <svg
                    id="svg7"
                    xmlns="http://www.w3.org/2000/svg"
                    width="311"
                    height="633"
                    viewBox="0 0 311 633"
                    fill="none"
                  >
                    <path
                      class="theline"
                      d="M29.058 2C29.058 7.89297 31.4168 13.2468 31.4168 19.1232C31.4168 24.6406 32.3862 28.4887 34.7366 33.4508C36.2697 36.6874 36.1344 39.319 36.1344 42.886C36.1344 48.4183 37.707 53.2165 37.707 58.6114C37.707 61.6546 37.707 64.6977 37.707 67.7409C37.707 72.454 39.2795 76.8563 39.2795 81.4132C39.2795 84.6083 41.8548 91.6367 39.629 93.9935C35.5631 98.2985 34.5619 102.189 34.5619 108.234C34.5619 116.329 34.5619 124.425 34.5619 132.521C34.5619 138.378 33.7756 144.566 33.7756 150.605C33.7756 152.542 35.7818 152.059 33.7756 152.177C32.9982 152.223 32.2484 155.294 32.2031 156.109C31.8725 162.059 30.5889 171.094 34.955 175.46C38.4797 178.984 38.4932 183.43 38.4932 187.996C38.4932 193.67 36.636 202.279 39.1048 207.216C39.3991 207.805 41.0123 212.473 39.2795 211.759C36.6228 210.665 36.1344 210.492 36.1344 213.681C36.1344 218.595 37.224 225.23 35.7413 229.974C34.384 234.318 36.4745 239.627 34.1688 243.778C31.235 249.059 30.6305 252.668 30.6305 258.717C30.6305 264.19 30.6581 268.493 28.3154 273.569C25.2057 280.306 22.9859 287.694 20.409 294.667C17.9987 301.189 19.1218 306.351 11.7601 303.753C10.4339 303.285 3.67511 315.548 2.93639 317.469C2.09078 319.667 -4.59997 324.342 2.32485 325.157C3.8142 325.332 7.39084 330.504 7.78505 331.884C9.64896 338.407 14.0446 345.6 21.5884 345.6C26.7257 345.6 34.4694 352.965 37.707 356.608C40.1451 359.35 41.9898 363.074 44.6087 365.431C47.6786 368.194 50.132 368.863 53.8692 369.93C60.8721 371.931 69.2516 368.894 75.4479 366.829"
                      stroke="#FF5000"
                      stroke-width="3"
                      stroke-linecap="round"></path>
                  </svg>
                </div>
              </div>
              <div class="scroll-content-container">
                <div class="slide-text-content placering">
                  <h2>Maliks Udfordringer</h2>
                </div>
              </div>
            </div>
            <!-- ---8--- -->
            <div class="scroll-animation-container simple">
              <div class="sticky-content-container sticky-element">
                <div class="svg-drawing">
                  <svg
                    id="svg8"
                    xmlns="http://www.w3.org/2000/svg"
                    width="311"
                    height="633"
                    viewBox="0 0 311 633"
                    fill="none"
                  >
                    <path
                      class="theline"
                      d="M29.058 2C29.058 7.89297 31.4168 13.2468 31.4168 19.1232C31.4168 24.6406 32.3862 28.4887 34.7366 33.4508C36.2697 36.6874 36.1344 39.319 36.1344 42.886C36.1344 48.4183 37.707 53.2165 37.707 58.6114C37.707 61.6546 37.707 64.6977 37.707 67.7409C37.707 72.454 39.2795 76.8563 39.2795 81.4132C39.2795 84.6083 41.8548 91.6367 39.629 93.9935C35.5631 98.2985 34.5619 102.189 34.5619 108.234C34.5619 116.329 34.5619 124.425 34.5619 132.521C34.5619 138.378 33.7756 144.566 33.7756 150.605C33.7756 152.542 35.7818 152.059 33.7756 152.177C32.9982 152.223 32.2484 155.294 32.2031 156.109C31.8725 162.059 30.5889 171.094 34.955 175.46C38.4797 178.984 38.4932 183.43 38.4932 187.996C38.4932 193.67 36.636 202.279 39.1048 207.216C39.3991 207.805 41.0123 212.473 39.2795 211.759C36.6228 210.665 36.1344 210.492 36.1344 213.681C36.1344 218.595 37.224 225.23 35.7413 229.974C34.384 234.318 36.4745 239.627 34.1688 243.778C31.235 249.059 30.6305 252.668 30.6305 258.717C30.6305 264.19 30.6581 268.493 28.3154 273.569C25.2057 280.306 22.9859 287.694 20.409 294.667C17.9987 301.189 19.1218 306.351 11.7601 303.753C10.4339 303.285 3.67511 315.548 2.93639 317.469C2.09078 319.667 -4.59997 324.342 2.32485 325.157C3.8142 325.332 7.39084 330.504 7.78505 331.884C9.64896 338.407 14.0446 345.6 21.5884 345.6C26.7257 345.6 34.4694 352.965 37.707 356.608C40.1451 359.35 41.9898 363.074 44.6087 365.431C47.6786 368.194 50.132 368.863 53.8692 369.93C60.8721 371.931 69.2516 368.894 75.4479 366.829"
                      stroke="#FF5000"
                      stroke-width="3"
                      stroke-linecap="round"></path>
                  </svg>
                </div>
              </div>
              <div class="scroll-content-container">
                <div class="slide-text-content placering">
                  <h2>Maliks Udfordringer</h2>
                </div>
              </div>
            </div>
            <!-- ---9--- -->
            <div class="scroll-animation-container simple">
              <div class="sticky-content-container sticky-element">
                <div class="svg-drawing">
                  <svg
                    id="svg9"
                    xmlns="http://www.w3.org/2000/svg"
                    width="311"
                    height="633"
                    viewBox="0 0 311 633"
                    fill="none"
                  >
                    <path
                      class="theline"
                      d="M29.058 2C29.058 7.89297 31.4168 13.2468 31.4168 19.1232C31.4168 24.6406 32.3862 28.4887 34.7366 33.4508C36.2697 36.6874 36.1344 39.319 36.1344 42.886C36.1344 48.4183 37.707 53.2165 37.707 58.6114C37.707 61.6546 37.707 64.6977 37.707 67.7409C37.707 72.454 39.2795 76.8563 39.2795 81.4132C39.2795 84.6083 41.8548 91.6367 39.629 93.9935C35.5631 98.2985 34.5619 102.189 34.5619 108.234C34.5619 116.329 34.5619 124.425 34.5619 132.521C34.5619 138.378 33.7756 144.566 33.7756 150.605C33.7756 152.542 35.7818 152.059 33.7756 152.177C32.9982 152.223 32.2484 155.294 32.2031 156.109C31.8725 162.059 30.5889 171.094 34.955 175.46C38.4797 178.984 38.4932 183.43 38.4932 187.996C38.4932 193.67 36.636 202.279 39.1048 207.216C39.3991 207.805 41.0123 212.473 39.2795 211.759C36.6228 210.665 36.1344 210.492 36.1344 213.681C36.1344 218.595 37.224 225.23 35.7413 229.974C34.384 234.318 36.4745 239.627 34.1688 243.778C31.235 249.059 30.6305 252.668 30.6305 258.717C30.6305 264.19 30.6581 268.493 28.3154 273.569C25.2057 280.306 22.9859 287.694 20.409 294.667C17.9987 301.189 19.1218 306.351 11.7601 303.753C10.4339 303.285 3.67511 315.548 2.93639 317.469C2.09078 319.667 -4.59997 324.342 2.32485 325.157C3.8142 325.332 7.39084 330.504 7.78505 331.884C9.64896 338.407 14.0446 345.6 21.5884 345.6C26.7257 345.6 34.4694 352.965 37.707 356.608C40.1451 359.35 41.9898 363.074 44.6087 365.431C47.6786 368.194 50.132 368.863 53.8692 369.93C60.8721 371.931 69.2516 368.894 75.4479 366.829"
                      stroke="#FF5000"
                      stroke-width="3"
                      stroke-linecap="round"></path>
                  </svg>
                </div>
              </div>
              <div class="scroll-content-container">
                <div class="slide-text-content placering">
                  <h2>Maliks Udfordringer</h2>
                </div>
              </div>
            </div>
            <!-- ---10--- -->
            <div class="scroll-animation-container simple">
              <div class="sticky-content-container sticky-element">
                <div class="svg-drawing">
                  <svg
                    id="svg10"
                    xmlns="http://www.w3.org/2000/svg"
                    width="311"
                    height="633"
                    viewBox="0 0 311 633"
                    fill="none"
                  >
                    <path
                      class="theline"
                      d="M29.058 2C29.058 7.89297 31.4168 13.2468 31.4168 19.1232C31.4168 24.6406 32.3862 28.4887 34.7366 33.4508C36.2697 36.6874 36.1344 39.319 36.1344 42.886C36.1344 48.4183 37.707 53.2165 37.707 58.6114C37.707 61.6546 37.707 64.6977 37.707 67.7409C37.707 72.454 39.2795 76.8563 39.2795 81.4132C39.2795 84.6083 41.8548 91.6367 39.629 93.9935C35.5631 98.2985 34.5619 102.189 34.5619 108.234C34.5619 116.329 34.5619 124.425 34.5619 132.521C34.5619 138.378 33.7756 144.566 33.7756 150.605C33.7756 152.542 35.7818 152.059 33.7756 152.177C32.9982 152.223 32.2484 155.294 32.2031 156.109C31.8725 162.059 30.5889 171.094 34.955 175.46C38.4797 178.984 38.4932 183.43 38.4932 187.996C38.4932 193.67 36.636 202.279 39.1048 207.216C39.3991 207.805 41.0123 212.473 39.2795 211.759C36.6228 210.665 36.1344 210.492 36.1344 213.681C36.1344 218.595 37.224 225.23 35.7413 229.974C34.384 234.318 36.4745 239.627 34.1688 243.778C31.235 249.059 30.6305 252.668 30.6305 258.717C30.6305 264.19 30.6581 268.493 28.3154 273.569C25.2057 280.306 22.9859 287.694 20.409 294.667C17.9987 301.189 19.1218 306.351 11.7601 303.753C10.4339 303.285 3.67511 315.548 2.93639 317.469C2.09078 319.667 -4.59997 324.342 2.32485 325.157C3.8142 325.332 7.39084 330.504 7.78505 331.884C9.64896 338.407 14.0446 345.6 21.5884 345.6C26.7257 345.6 34.4694 352.965 37.707 356.608C40.1451 359.35 41.9898 363.074 44.6087 365.431C47.6786 368.194 50.132 368.863 53.8692 369.93C60.8721 371.931 69.2516 368.894 75.4479 366.829"
                      stroke="#FF5000"
                      stroke-width="3"
                      stroke-linecap="round"></path>
                  </svg>
                </div>
              </div>
              <div class="scroll-content-container">
                <div class="slide-text-content placering">
                  <h2>Maliks Udfordringer</h2>
                </div>
              </div>
            </div>
            <!-- ---11--- -->
            <div class="scroll-animation-container simple">
              <div class="sticky-content-container sticky-element">
                <div class="svg-drawing">
                  <svg
                    id="svg11"
                    xmlns="http://www.w3.org/2000/svg"
                    width="311"
                    height="633"
                    viewBox="0 0 311 633"
                    fill="none"
                  >
                    <path
                      class="theline"
                      d="M29.058 2C29.058 7.89297 31.4168 13.2468 31.4168 19.1232C31.4168 24.6406 32.3862 28.4887 34.7366 33.4508C36.2697 36.6874 36.1344 39.319 36.1344 42.886C36.1344 48.4183 37.707 53.2165 37.707 58.6114C37.707 61.6546 37.707 64.6977 37.707 67.7409C37.707 72.454 39.2795 76.8563 39.2795 81.4132C39.2795 84.6083 41.8548 91.6367 39.629 93.9935C35.5631 98.2985 34.5619 102.189 34.5619 108.234C34.5619 116.329 34.5619 124.425 34.5619 132.521C34.5619 138.378 33.7756 144.566 33.7756 150.605C33.7756 152.542 35.7818 152.059 33.7756 152.177C32.9982 152.223 32.2484 155.294 32.2031 156.109C31.8725 162.059 30.5889 171.094 34.955 175.46C38.4797 178.984 38.4932 183.43 38.4932 187.996C38.4932 193.67 36.636 202.279 39.1048 207.216C39.3991 207.805 41.0123 212.473 39.2795 211.759C36.6228 210.665 36.1344 210.492 36.1344 213.681C36.1344 218.595 37.224 225.23 35.7413 229.974C34.384 234.318 36.4745 239.627 34.1688 243.778C31.235 249.059 30.6305 252.668 30.6305 258.717C30.6305 264.19 30.6581 268.493 28.3154 273.569C25.2057 280.306 22.9859 287.694 20.409 294.667C17.9987 301.189 19.1218 306.351 11.7601 303.753C10.4339 303.285 3.67511 315.548 2.93639 317.469C2.09078 319.667 -4.59997 324.342 2.32485 325.157C3.8142 325.332 7.39084 330.504 7.78505 331.884C9.64896 338.407 14.0446 345.6 21.5884 345.6C26.7257 345.6 34.4694 352.965 37.707 356.608C40.1451 359.35 41.9898 363.074 44.6087 365.431C47.6786 368.194 50.132 368.863 53.8692 369.93C60.8721 371.931 69.2516 368.894 75.4479 366.829"
                      stroke="#FF5000"
                      stroke-width="3"
                      stroke-linecap="round"></path>
                  </svg>
                </div>
              </div>
              <div class="scroll-content-container">
                <div class="slide-text-content placering">
                  <h2>Maliks Udfordringer</h2>
                </div>
              </div>
            </div>
            <!-- ---12--- -->
            <div class="scroll-animation-container simple">
              <div class="sticky-content-container sticky-element">
                <div class="svg-drawing">
                  <svg
                    id="svg12"
                    xmlns="http://www.w3.org/2000/svg"
                    width="311"
                    height="633"
                    viewBox="0 0 311 633"
                    fill="none"
                  >
                    <path
                      class="theline"
                      d="M29.058 2C29.058 7.89297 31.4168 13.2468 31.4168 19.1232C31.4168 24.6406 32.3862 28.4887 34.7366 33.4508C36.2697 36.6874 36.1344 39.319 36.1344 42.886C36.1344 48.4183 37.707 53.2165 37.707 58.6114C37.707 61.6546 37.707 64.6977 37.707 67.7409C37.707 72.454 39.2795 76.8563 39.2795 81.4132C39.2795 84.6083 41.8548 91.6367 39.629 93.9935C35.5631 98.2985 34.5619 102.189 34.5619 108.234C34.5619 116.329 34.5619 124.425 34.5619 132.521C34.5619 138.378 33.7756 144.566 33.7756 150.605C33.7756 152.542 35.7818 152.059 33.7756 152.177C32.9982 152.223 32.2484 155.294 32.2031 156.109C31.8725 162.059 30.5889 171.094 34.955 175.46C38.4797 178.984 38.4932 183.43 38.4932 187.996C38.4932 193.67 36.636 202.279 39.1048 207.216C39.3991 207.805 41.0123 212.473 39.2795 211.759C36.6228 210.665 36.1344 210.492 36.1344 213.681C36.1344 218.595 37.224 225.23 35.7413 229.974C34.384 234.318 36.4745 239.627 34.1688 243.778C31.235 249.059 30.6305 252.668 30.6305 258.717C30.6305 264.19 30.6581 268.493 28.3154 273.569C25.2057 280.306 22.9859 287.694 20.409 294.667C17.9987 301.189 19.1218 306.351 11.7601 303.753C10.4339 303.285 3.67511 315.548 2.93639 317.469C2.09078 319.667 -4.59997 324.342 2.32485 325.157C3.8142 325.332 7.39084 330.504 7.78505 331.884C9.64896 338.407 14.0446 345.6 21.5884 345.6C26.7257 345.6 34.4694 352.965 37.707 356.608C40.1451 359.35 41.9898 363.074 44.6087 365.431C47.6786 368.194 50.132 368.863 53.8692 369.93C60.8721 371.931 69.2516 368.894 75.4479 366.829"
                      stroke="#FF5000"
                      stroke-width="3"
                      stroke-linecap="round"></path>
                  </svg>
                </div>
              </div>
              <div class="scroll-content-container">
                <div class="slide-text-content placering">
                  <h2>Maliks Udfordringer</h2>
                </div>
              </div>
            </div>
            <!-- ---13--- -->
            <div class="scroll-animation-container simple">
              <div class="sticky-content-container sticky-element">
                <div class="svg-drawing">
                  <svg
                    id="svg13"
                    xmlns="http://www.w3.org/2000/svg"
                    width="311"
                    height="633"
                    viewBox="0 0 311 633"
                    fill="none"
                  >
                    <path
                      class="theline"
                      d="M29.058 2C29.058 7.89297 31.4168 13.2468 31.4168 19.1232C31.4168 24.6406 32.3862 28.4887 34.7366 33.4508C36.2697 36.6874 36.1344 39.319 36.1344 42.886C36.1344 48.4183 37.707 53.2165 37.707 58.6114C37.707 61.6546 37.707 64.6977 37.707 67.7409C37.707 72.454 39.2795 76.8563 39.2795 81.4132C39.2795 84.6083 41.8548 91.6367 39.629 93.9935C35.5631 98.2985 34.5619 102.189 34.5619 108.234C34.5619 116.329 34.5619 124.425 34.5619 132.521C34.5619 138.378 33.7756 144.566 33.7756 150.605C33.7756 152.542 35.7818 152.059 33.7756 152.177C32.9982 152.223 32.2484 155.294 32.2031 156.109C31.8725 162.059 30.5889 171.094 34.955 175.46C38.4797 178.984 38.4932 183.43 38.4932 187.996C38.4932 193.67 36.636 202.279 39.1048 207.216C39.3991 207.805 41.0123 212.473 39.2795 211.759C36.6228 210.665 36.1344 210.492 36.1344 213.681C36.1344 218.595 37.224 225.23 35.7413 229.974C34.384 234.318 36.4745 239.627 34.1688 243.778C31.235 249.059 30.6305 252.668 30.6305 258.717C30.6305 264.19 30.6581 268.493 28.3154 273.569C25.2057 280.306 22.9859 287.694 20.409 294.667C17.9987 301.189 19.1218 306.351 11.7601 303.753C10.4339 303.285 3.67511 315.548 2.93639 317.469C2.09078 319.667 -4.59997 324.342 2.32485 325.157C3.8142 325.332 7.39084 330.504 7.78505 331.884C9.64896 338.407 14.0446 345.6 21.5884 345.6C26.7257 345.6 34.4694 352.965 37.707 356.608C40.1451 359.35 41.9898 363.074 44.6087 365.431C47.6786 368.194 50.132 368.863 53.8692 369.93C60.8721 371.931 69.2516 368.894 75.4479 366.829"
                      stroke="#FF5000"
                      stroke-width="3"
                      stroke-linecap="round"></path>
                  </svg>
                </div>
              </div>
              <div class="scroll-content-container">
                <div class="slide-text-content placering">
                  <h2>Maliks Udfordringer</h2>
                </div>
              </div>
            </div>
            <!-- -------- -->
          </div>
        </div>
      </body>
    </main>
  </body>
</html>

<script>
  import { gsap, ScrollTrigger, DrawSVGPlugin } from "gsap-trial/all";
  gsap.registerPlugin(ScrollTrigger, DrawSVGPlugin);

  gsap.defaults({ ease: "none" });

  function createAnimation(svgId) {
    const tl = gsap.timeline({
      scrollTrigger: {
        trigger: `#${svgId}`,
        scrub: true,
        start: "top center",
        end: "bottom center",
      },
    });
    tl.from(`#${svgId} .theline`, { drawSVG: 0, duration: 4 }, 0);
    return tl;
  }

  createAnimation("svg1");
  createAnimation("svg2");
  createAnimation("svg3");
  createAnimation("svg4");
  createAnimation("svg5");
</script>

<style>
  /*   .scroll-aniamtion-container .sticky-content-container {
    position: absolute;
    width: 50vh;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 0;
  } */

  .scroll-animation-container .relative-content-container {
    position: relative;
    top: 0.01vh;
    overflow: hidden;
    height: 100vh;
  }
  .scroll-animation-container .sticky-content-container {
    position: sticky;
    top: 0.01vh;
    overflow: hidden;
    height: 100vh;
  }
  .scroll-animation-container {
    height: 100vh;
    background-color: #000e38;
    position: relative;
    font-size: 16px;
  }

  .scroll-animation-container .scroll-content-container {
    position: relative;
    top: -100vh;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    height: 100%;
  }

  /* SVG */
  .svg-drawing {
    position: relative;
    pointer-events: none;
    left: 50%;
    transform: translate(-50%, 0%);
    height: 100%;
    z-index: 1;
  }
  .svg {
    position: relative;
    display: block;
    width: auto;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  #svg2 {
    top: -1%;
    left: 98%;
  }

  #svg5 {
    top: -20%;
  }
  /* ------------ */

  /* intro-styling */
  .gronland {
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .gronlandLine {
    position: relative;
    top: 12%;
    left: 75%;
  }

  .intro {
    height: 70vh;
  }

  .content-intro-placering {
    position: relative;
    top: 21%;
  }
  /* --------- */
  /* Alle billeders størrelse?? */
  .billede {
    width: 390px;
  }
  /* ---------- */
  .small {
    height: 100vh;
  }

  .hidden {
    opacity: 0;
  }

  .citat-img {
    position: absolute;
    top: -28px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .webfeature-container-width {
    width: 60vh;
  }
  .webfeature-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000e38;
  }
</style>
