---
import { Image } from "astro:assets";
import gronlandby from "../assets/images/gl.png";
import kids from "../assets/images/kids.svg";
import mandCitat from "../assets/images/mand-citat.svg";
import gronlandline from "../assets/images/gronland.svg";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/src/styles/global.css" />
    <link rel="stylesheet" href="/src/styles/reset.css" />
    <title>Astro</title>
  </head>

  <body>
    <main>
      <div class="webfeature-container">
        <div class="webfeature-container-width">
          <!--  intro -->
          <section class="scroll-animation-container intro">
            <div class="relative-content-container"></div>
            <div>
              <div class="content-intro-placering">
                <h2>Maliks Udfordringer</h2>
                <p class="titelLight">
                  Uddannelsesmanglen og dens konsekvenser for unge i Grønland
                </p>
              </div>
            </div>
          </section>

          <!-- 1 Grønland svg -->
          <section class="scroll-animation-container">
            <div class="relative-content-container">
              <div class="svg-drawing"></div>
            </div>
            <div>
              <div>
                <Image
                  src={gronlandline}
                  alt="grønland orange linje"
                  class="gronland"
                />
                <svg
                  class="svg gronlandLine"
                  id="svg1"
                  xmlns="http://www.w3.org/2000/svg"
                  width="190"
                  height="264"
                  viewBox="0 0 190 264"
                  fill="none"
                >
                  <path
                    class="theline"
                    d="M1.66909 1C1.66909 5.98326 4.4179 10.3632 3.11416 15.5782C1.7539 21.0192 -1.60769 26.3802 4.72923 30.4539C8.90119 33.1359 10.7702 39.5681 13.1446 43.842C14.875 46.9567 18.7436 50.0606 20.965 53.0225C25.0014 58.4043 30.0914 62.5464 36.0957 65.4331C40.5028 67.5519 45.3255 68.5891 49.9089 70.1933C53.5652 71.473 58.3215 71.5061 61.7244 73.3384C70.0925 77.8443 75.2348 86.8827 83.4855 92.0393C88.6801 95.2859 94.7442 96.4151 100.529 98.1596C106.481 99.9546 113.06 103.052 119.315 103.515C123.315 103.811 127.786 105.808 131.895 106.405C135.99 106.999 138.916 107.612 142.436 109.465C146.063 111.374 149.485 111.329 153.444 112.355C158.719 113.723 161.249 117.072 163.432 121.833C165.178 125.642 167.792 128.705 170.827 131.524C174.445 134.884 176.314 141.076 178.307 145.507C179.497 148.151 180.688 151.074 180.688 154.007C180.688 157.124 180.688 160.241 180.688 163.358C180.688 166.389 180.631 169.25 181.453 172.198C182.02 174.234 183.507 176.44 183.748 178.488C183.934 180.071 185.473 181.669 185.873 183.419C186.813 187.531 186.808 192.035 186.808 196.254C186.808 204.777 188.338 213.083 188.338 221.628C188.338 223.69 184.886 226.234 183.365 227.451C181.052 229.301 184.73 235.093 185.618 236.546C186.687 238.295 188.725 240.74 186.638 242.326C184.226 244.16 180.733 249.572 182.388 252.697C183.263 254.351 185.278 254.285 185.278 256.522C185.278 258.367 185.043 261.76 186.808 262.642"
                    stroke="#FF5000"
                    stroke-width="2"
                    stroke-linecap="round"></path>
                </svg>
              </div>
            </div>
          </section>

          <!------ 2 En grønlandsk barndom-------->
          <section class="scroll-animation-container">
            <div class="relative-content-container">
              <div class="svg-drawing">
                <svg
                  class="svg"
                  id="svg2"
                  xmlns="http://www.w3.org/2000/svg"
                  width="17"
                  height="248"
                  viewBox="0 0 17 248"
                  fill="none"
                >
                  <path
                    class="theline"
                    d="M13.5039 1C13.5039 2.80165 13.5431 4.36868 13.9922 5.94051C14.3721 7.27021 13.2714 10.1452 14.1358 11.2257C16.1641 13.761 14.5694 20.5389 11.6656 22.1982C8.17495 24.1929 9.27282 32.6788 11.3209 35.2389C12.4724 36.6783 12.6137 39.7982 13.7337 41.5581C14.9666 43.4956 15.055 46.3481 15.055 48.5955C15.055 51.1203 14.0209 53.4731 14.0209 55.9201C14.0209 58.4214 14.5379 60.7159 14.5379 63.1298C14.5379 68.5901 15.5566 75.2253 11.4358 79.5886C9.8296 81.2892 8.54799 83.7417 8.30486 86.0515C8.05498 88.4253 6.70701 90.5311 6.29419 92.8016C5.64806 96.3553 4.91101 100.015 3.79521 103.487C2.62446 107.129 3.16328 108.9 3.16328 112.851C3.16328 116.245 2.64625 119.402 2.64625 122.732C2.64625 126.82 1.61219 130.912 1.61219 134.911C1.61219 139.56 1.57205 145.476 3.04839 149.905C3.57583 151.487 3.30944 149.891 3.93883 149.388C4.9249 148.599 5.08922 144.734 3.45052 144.734C-0.569269 144.734 1.36378 151.763 2.24412 153.524C3.0396 155.115 4.82504 157.253 5.20268 158.953C5.5619 160.569 5.67736 162.235 6.15057 163.864C7.09032 167.101 9.71314 169.602 11.1773 172.597C11.5218 173.301 11.5556 174.715 12.2113 175.239C13.4093 176.197 13.0992 182.758 13.2166 184C13.4905 186.895 13.6575 189.9 13.5039 192.818C13.387 195.04 11.409 196.687 10.9475 198.764C9.67024 204.511 12.3031 210.035 11.3209 215.682C10.7406 219.019 10.2538 222.141 8.5921 225.133C7.61614 226.889 7.29952 229.335 7.29952 231.337C7.29952 236.421 7.29952 241.505 7.29952 246.589"
                    stroke="#FF5000"
                    stroke-width="2"
                    stroke-linecap="round"></path>
                </svg>
              </div>
            </div>
            <div>
              <div class="slide-text-content">
                <h2>2 En grønlandsk barndom</h2>
                <p class="bodyLight">
                  Malik, en 22-årig fra Nuuk i Grønland, har altid været tæt
                  forbundet med naturen. Opvokset i en naturglad familie, lærte
                  han tidligt at fiske af sin far. Som barn tilbragte han mange
                  timer med ham på fisketure og vandreture omkring Nuuk, hvilket
                  gav ham stor glæde og en livslang passion for naturen.
                </p>
                <Image
                  src={gronlandby}
                  alt="billede af en by i grønland"
                  class="billede"
                />
              </div>
            </div>
          </section>

          <!-- ---3 Fra skolebøger til fisketrawlere---- -->
          <section class="scroll-animation-container section-3">
            <div class="relative-content-container">
              <div class="svg-drawing">
                <svg
                  class="svg"
                  id="svg3"
                  xmlns="http://www.w3.org/2000/svg"
                  width="365"
                  height="649"
                  viewBox="0 0 365 649"
                  fill="none"
                >
                  <path
                    class="theline"
                    d="M359.057 1C359.057 5.71852 363.348 5.30703 363.035 10.946C362.919 13.0358 360.124 15.2613 358.836 16.6926C357.46 18.2211 357.983 21.3185 357.068 23.3785C355.958 25.8742 354.084 27.6256 354.084 30.3408C354.084 33.3084 353.192 35.1623 351.874 37.8003C349.392 42.7634 345.605 47.7463 339.662 47.7463C336.401 47.7463 331.542 48.6656 328.721 50.2328C326.645 51.3862 326.423 53.3646 324.743 54.7085C320.342 58.229 315.694 59.6815 309.879 59.6815C302.871 59.6815 295.639 59.1315 288.937 60.6209C282.084 62.1439 272.973 60.5204 267.553 55.7031C263.258 51.8854 255.746 56.1279 252.413 59.4605C250.701 61.1732 245.932 68.038 243.075 67.0858C238.74 65.6408 235.258 70.95 232.742 73.6059C229.825 76.6857 224.118 82.7393 219.315 80.0709C215.149 77.7563 208.821 79.4426 204.893 77.3633C199.441 74.4769 209.866 67.6156 209.866 74.1032C209.866 78.7377 202.895 82.5574 198.926 82.5574C193.094 82.5574 191.304 83.8185 186.549 86.5358C182.859 88.6438 179.633 82.5154 176.492 81.618C169.363 79.5813 163.628 77.5844 156.158 77.5844C149.251 77.5844 142.383 77.1644 135.769 78.6342C133.576 79.1215 131.311 81.5449 129.801 83.0547C127.757 85.0984 123.187 86.369 120.352 86.5358C115.142 86.8423 114.884 92.2498 110.959 94.4926C108.863 95.6903 108.445 98.962 105.931 99.5209C103.75 100.005 101.444 101.239 99.4656 102.228C95.8343 104.044 91.06 107.735 88.525 110.904C87.0813 112.708 83.6625 112.759 83.6625 115.877C83.6625 118.945 84.2653 120.081 81.7838 122.562C76.6174 127.729 68.9912 123.998 62.6653 124.331C58.2788 124.562 56.6977 131.444 56.6977 134.774C56.6977 140.199 55.3608 144.624 52.9403 149.196C51.0291 152.806 45.5403 159.142 41.2814 159.142C33.6953 159.142 24.7297 161.92 17.9082 165.33C13.5658 167.502 11.2134 170.84 7.52017 174.005C5.15291 176.035 7.58509 184.855 6.19403 187.985C4.55161 191.681 5.6472 197.485 4.92315 201.468C3.9912 206.593 1 209.846 1 215.337C1 219.931 2.44279 225.592 4.75739 229.758C6.67545 233.211 8.67731 239.213 6.47031 243.186C4.154 247.355 7.01633 253.041 8.18324 256.834C9.71632 261.816 13.2269 264.293 12.9352 269.543C12.6525 274.631 7.96221 277.681 7.96221 282.97C7.96221 289.133 11.9406 293.043 11.9406 298.607C11.9406 305.553 9.41129 310.626 11.0013 317.781C12.1164 322.799 9.0994 327.903 6.96761 332.7C4.60213 338.022 7.53712 341.585 8.73579 346.679C10.0606 352.31 7.96221 357.945 7.96221 363.532C7.96221 366.767 8.46695 367.952 9.95142 370.55C11.6665 373.551 14.7394 371.64 16.6926 373.202C20.2262 376.029 19.3685 382.345 16.9136 385.414C13.7892 389.319 15.6694 393.353 15.919 397.846C16.3575 405.738 24.6756 418.082 17.9082 425.695C10.9069 433.572 12.9352 442.963 12.9352 453.433C12.9352 459.704 11.3989 462.979 7.52017 467.966C6.05218 469.853 3.98381 473.491 3.98381 475.922C3.98381 478.189 6.49346 479.06 7.74119 480.619C8.73683 481.864 7.99555 485.578 7.18863 486.587C5.70684 488.439 8.37678 491.601 7.90696 493.715C6.71647 499.072 6.39335 502.211 10.946 506.258C15.7256 510.506 17.9082 512.807 17.9082 519.63C17.9082 533.407 7.05106 546.347 15.3665 559.414C18.0729 563.667 13.9298 566.726 13.9298 571.404C13.9298 573.872 14.7799 578.207 13.3773 580.411C12.204 582.255 9.07553 586.673 8.95682 588.81C8.74201 592.676 11.9745 599.922 8.45952 602.734C6.36945 604.406 9.95142 613.938 9.95142 616.659C9.95142 622.895 10.0682 628.682 7.52017 634.506C6.25906 637.389 2.87108 644.49 4.20483 647.491"
                    stroke="#FF5000"
                    stroke-width="2"
                    stroke-linecap="round"></path>
                </svg>
              </div>
            </div>
            <div class="section3-content-container">
              <div class="slide-text-content">
                <h2>Fra skolebøger til fisketrawlere</h2>
                <p class="bodyLight">
                  Malik og hans venner fra de omkringliggende bygder har altid
                  fisket sammen. Han så flere og flere af dem vælge at droppe
                  uddannelsen og i stedet træde direkte ind på arbejdsmarkedet
                  som fiskere på trawlere. Her kunne de tjene gode penge og
                  skiftevis nyde to måneders frihed efterfulgt af to måneders
                  arbejde til søs.
                </p>
              </div>
            </div>
          </section>

          <!-- ---4 billede af børn--- -->
          <section class="scroll-animation-container section-4">
            <div class="relative-content-container">
              <div class="svg-drawing">
                <svg
                  class="svg"
                  id="svg4"
                  xmlns="http://www.w3.org/2000/svg"
                  width="76"
                  height="213"
                  viewBox="0 0 76 213"
                  fill="none"
                >
                  <path
                    class="theline"
                    d="M22.4 1.34082C22.4 3.27298 23.9111 5.81894 24.9198 7.40409C26.7121 10.2206 24.9108 13.9718 23.463 16.5777C22.0871 19.0544 20.4774 21.4986 21.3763 24.4521C22.8693 29.3576 26.1268 33.5159 29.1326 37.5236C32.0623 41.4299 33.0568 46.6607 35.314 50.9494C36.2253 52.6809 36.0471 54.9138 37.4401 56.4615C40.2643 59.5995 35.4193 65.3541 38.5425 68.8243C39.9387 70.3756 39.4087 73.1332 39.4087 75.045C39.4087 81.875 32.5411 86.8735 28.1089 91.3056C22.3264 97.0882 17.2087 101.962 13.8957 109.417C11.9476 113.8 10.2595 118.423 8.97419 122.921C8.70327 123.869 7.08737 128.399 6.45438 128.906C5.34036 129.797 5.00254 133.857 4.28893 135.284C2.63631 138.589 0.71266 143.419 2.39908 146.623C3.68208 149.061 5.50977 151.124 7.35994 153.159C8.82509 154.771 9.43898 157.201 10.9034 158.828C13.7959 162.042 14.8688 169.518 16.0218 173.554C17.1414 177.472 17.4476 183.683 20.9826 185.956C30.595 192.135 38.1204 200.226 48.6217 204.894C51.2243 206.05 54.1299 206.052 56.9685 206.153C58.3969 206.205 63.6853 207.574 64.7642 208.437C66.157 209.551 68.1321 210.22 69.8825 210.957C71.8057 211.767 73.0394 210.921 74.8434 211.823"
                    stroke="#FF5000"
                    stroke-width="2"
                    stroke-linecap="round"></path>
                </svg>
              </div>
            </div>
            <div class="slide-text-content">
              <Image
                src={kids}
                alt="billede af en by i grønland"
                class="billede"
              />
            </div>
          </section>

          <!-- 5 tekst -->
          <section class="scroll-animation-container section-5">
            <div class="relative-content-container">
              <div class="svg-drawing">
                <svg
                  id="svg5"
                  class="svg"
                  xmlns="http://www.w3.org/2000/svg"
                  width="61"
                  height="511"
                  viewBox="0 0 61 511"
                  fill="none"
                >
                  <path
                    class="theline"
                    d="M54.408 1.92871C55.1615 2.0229 55.5778 5.82817 56.4036 6.74569C57.6024 8.07772 57.7927 10.8298 59.0529 11.8379C59.74 12.3876 52.4988 17.0217 51.3114 17.5495C49.1727 18.5 45.8663 17.3169 43.3977 17.4119C42.0687 17.463 41.9578 21.1189 41.4021 22.0912C40.0159 24.5171 38.5418 24.4934 36.9292 25.9448C35.429 27.295 31.9865 26.3266 30.8392 27.6652C29.45 29.2858 26.4923 30.1601 25.9534 32.5854C25.4993 34.6286 26.0884 36.724 25.2997 38.4001C24.2528 40.6247 23.4706 43.1674 22.7879 45.5568C22.2623 47.3965 18.9302 48.2198 17.8677 49.7545C16.1268 52.2692 14.8817 54.8977 13.0508 57.1864C11.2323 59.4594 9.31862 62.4685 7.99293 65.3408C5.25305 71.2772 1.56998 75.9501 1.76527 82.7852C1.86785 86.3755 5.97412 89.9579 7.64886 92.9352C13.358 103.085 14.745 113.98 13.3948 125.794C13.0814 128.537 12.2938 131.793 12.2938 134.465C12.2938 137.568 9.63706 141.573 11.3648 144.683C18.8049 158.076 8.57785 172.212 8.57785 185.869C8.57785 189.403 11.7461 193.691 12.6035 197.292C14.154 203.804 11.901 210.298 10.4358 216.525C9.15524 221.968 6.71988 227.877 6.71988 233.419C6.71988 235.48 6.97012 237.005 7.37361 238.821C7.95221 241.425 9.75967 240.994 10.9175 242.847C13.3117 246.677 12.9131 250.296 12.9131 254.923C12.9131 257.389 14.4 258.888 15.3904 261.117C16.2379 263.023 19.7257 263.893 19.7257 266.381C19.7257 269.112 14.5099 274.141 17.6269 276.565C20.2964 278.642 20.6179 278.412 18.4871 281.727C17.8827 282.667 17.1417 285.489 17.214 285.236C17.4767 284.317 17.222 283.668 18.2118 283.103C19.1422 282.571 16.0098 281.559 16.0098 284.032C16.0098 287.538 17.5088 289.779 18.3494 293.218C18.9007 295.473 19.5126 297.677 19.072 300.1C18.7127 302.076 17.4681 304.15 17.2484 306.018C16.9575 308.49 15.3904 310.218 15.3904 312.83C15.3904 317.149 18.3134 320.082 19.072 324.254C19.7781 328.137 20.9334 333.885 17.214 336.674C13.4664 339.485 15.2775 341.353 19.4161 343.143C22.6129 344.525 24.6813 344.919 22.0654 348.407C20.3442 350.702 19.1917 350.702 20.0698 353.775C20.8298 356.435 17.3554 357.462 17.2484 359.28C17.0881 362.005 16.0098 364.494 16.0098 367.4C16.0098 370.554 16.4264 374.608 17.5581 377.55C19.734 383.207 17.3064 391.876 16.7667 397.678C16.1537 404.268 15.1995 410.531 14.1862 417.118C13.881 419.102 13.1074 421.127 12.9131 423.07C12.2546 429.656 9.27787 435.729 8.54345 442.338C7.89835 448.144 7.37298 453.945 9.05955 459.68C9.48384 461.122 10.2077 462.959 11.3992 463.98C12.2183 464.682 15.0948 466.472 15.356 467.387C16.2651 470.568 16.0098 473.984 16.0098 477.262C16.0098 482.14 17.3113 487.044 18.4871 491.747C19.7803 496.92 21.7834 509.776 29.0156 509.776"
                    stroke="#FF5000"
                    stroke-width="2"
                    stroke-linecap="round"></path>
                </svg>
              </div>
            </div>
            <div class="slide-text-content">
              <p class="bodyLight">
                Det tiltalte Malik, da han på denne måde kunne tjene godt og
                samtidig beskæftige sig med fiskeriet.
              </p>
              <p class="bodyLight">
                Desuden fandt Malik det svært at fortsætte med en uddannelse og
                kunne ikke længere se sig selv på skolebænken. Derfor besluttede
                han, efter at have afsluttet 9. klasse, at arbejde på en
                fisketrawler.
              </p>
            </div>
          </section>

          <!-- 6 tom line -->
          <section class="scroll-animation-container section-6">
            <div class="relative-content-container">
              <div class="svg-drawing">
                <svg
                  id="svg6"
                  class="svg"
                  xmlns="http://www.w3.org/2000/svg"
                  width="358"
                  height="510"
                  viewBox="0 0 358 510"
                  fill="none"
                >
                  <path
                    class="theline"
                    d="M1 1C2.70128 1 5.44034 3.98315 7.24257 4.88427C10.2741 6.40001 13.5795 7.60991 16.8839 8.49109C24.5355 10.5315 34.9283 9.05632 40.4669 14.5949C44.908 19.036 51.6485 19.6355 56.871 22.5369C58.7806 23.5978 60.4789 24.7817 62.524 25.6582C69.3825 28.5975 77.868 28.8724 84.1649 32.8371C86.4842 34.2974 89.36 34.749 91.5173 36.5827C92.9562 37.8058 94.8936 38.141 96.3726 39.5652C97.6891 40.8329 99.0614 42.4097 100.569 43.4148C106.357 47.2735 113.626 46.5708 120.372 46.5708C128.272 46.5708 130.184 51.8946 135.84 55.9346C138.72 57.9919 139.831 59.6802 143.331 59.6802C148.336 59.6802 150.284 60.9326 153.388 64.813C158.814 71.5955 167.169 79.887 167.677 89.0203C167.834 91.8557 171.762 94.53 173.503 96.5807C174.207 97.4095 175.48 98.9432 176.416 99.4939C180.064 101.64 183.766 102.868 187.341 105.251C196.854 111.593 201.084 119.871 205.097 130.707C206.779 135.246 208.809 139.91 210.889 144.302C212.26 147.196 213.49 150.18 213.872 153.423C214.19 156.127 215.744 159.148 215.744 161.746C215.744 162.858 215.548 163.841 216.23 164.694C217.658 166.479 218.566 170.893 219.767 173.087C221.717 176.649 223.398 181.926 225.871 185.017C226.42 185.703 226.722 187.196 227.293 187.653C232.474 191.798 237.094 196.193 243.836 197.78C246.15 198.324 248.077 199.217 250.079 200.277C252.418 201.515 255.249 204.508 257.882 204.508C263.563 204.508 270.121 202.471 275.638 204.196C278.951 205.231 281.917 206.883 285.28 207.907C287.505 208.584 288.497 210.02 290.378 211.375C292.651 213.011 295.522 214.57 297.037 216.993C298.169 218.805 300.438 220.401 302.031 221.848C304.812 224.376 311.228 227.82 314.724 228.819C318.295 229.839 322.207 230.115 325.891 231.004C330.8 232.189 332.331 232.372 335.741 235.859C339.386 239.588 340.948 243.656 341.22 248.83C341.584 255.753 341.844 262.781 341.844 269.708C341.844 277.647 345.301 282.457 348.087 289.268C349.157 291.883 349.335 293.416 349.335 296.274C349.335 297.309 348.772 297.74 348.711 298.771C348.632 300.111 343.753 299.016 344.064 299.742C344.909 301.713 344.95 303.819 345.902 305.915C347.829 310.154 350.576 313.411 352.942 317.498C357.746 325.795 356.254 333.894 353.705 342.815C352.254 347.894 351.208 351.776 351.208 356.965C351.208 361.904 352.889 366.792 354.017 371.531C355.868 379.303 356.757 389.825 353.567 397.403C347.975 410.682 362.278 426.217 350.861 437.633C347.462 441.033 344.594 444.304 341.636 448.419C339.473 451.429 334.353 456.985 334.353 461.077C334.353 465.841 338.276 468.567 340.596 472.175C342.412 475.001 343.618 478.333 344.966 481.366C347.027 486.004 344.9 491.376 348.711 495.412C352.767 499.706 349.96 503.667 349.96 508.521"
                    stroke="#FF5000"
                    stroke-width="2"
                    stroke-linecap="round"></path>
                </svg>
              </div>
            </div>
            <div class="slide-text-content"></div>
          </section>

          <!-- 7 Da hverdagen  tabte sin glans -->
          <section class="scroll-animation-container section-">
            <div class="relative-content-container">
              <div class="svg-drawing">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="13"
                  height="159"
                  viewBox="0 0 13 159"
                  fill="none"
                >
                  <path
                    d="M1.00098 1.375C1.00098 8.54141 5.83714 11.9212 8.51868 18.2898C11.8066 26.0987 5.82974 32.241 4.88797 39.7751C4.70561 41.234 5.61412 41.8021 5.61412 42.8932C5.61412 44.2976 4.0764 44.2107 4.0764 45.627C4.0764 47.4458 3.67055 49.7914 4.24726 51.5215C4.90683 53.5002 7.15183 54.9901 7.15183 57.1171C7.15183 64.6737 2.608 74.0766 5.18697 81.6778C6.70129 86.141 16.2521 100.162 7.92068 104.573C1.65985 107.887 -0.247016 111.303 2.2824 118.583C2.9261 120.435 7.38791 126.459 5.5714 128.578C4.69441 129.601 2.20313 127.296 1.81255 128.663C0.140438 134.516 6.776 140.606 4.50355 145.151C2.19897 149.76 5.65193 152.726 4.0764 157.453"
                    stroke="#FF5000"
                    stroke-width="2"
                    stroke-linecap="round"></path>
                </svg>
              </div>
            </div>
            <div class="slide-text-content">
              <h2>Da hverdagen tabte sin glans</h2>
            </div>
          </section>
        </div>
      </div>
    </main>
  </body>
</html>

<script>
  import { gsap, ScrollTrigger, DrawSVGPlugin } from "gsap-trial/all";
  gsap.registerPlugin(ScrollTrigger, DrawSVGPlugin);

  gsap.defaults({ ease: "none" });

  function createAnimation(svgId) {
    const tl = gsap.timeline({
      scrollTrigger: {
        trigger: `#${svgId}`,
        scrub: true,
        start: "top center",
        end: "bottom center",
      },
    });
    tl.from(`#${svgId} .theline`, { drawSVG: 0, duration: 4 }, 0);
    return tl;
  }

  createAnimation("svg1");
  createAnimation("svg2");
  createAnimation("svg3");
  createAnimation("svg4");
  createAnimation("svg5");
  createAnimation("svg6");
  createAnimation("svg7");
  createAnimation("svg8");
</script>

<style>
  .scroll-animation-container .relative-content-container {
    position: absolute;
    top: 0;
  }
  /*   .scroll-animation-container .sticky-content-container {
    position: sticky;
    top: 0.01vh;
    overflow: hidden;
    height: 100vh;
  } */
  .scroll-animation-container {
    background-color: #000e38;
    position: relative;
    font-size: 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  /* SVG */
  .svg-drawing {
    position: relative;
    pointer-events: none;
    left: 50%;
    transform: translate(-50%, 0%);
  }
  .svg {
    position: relative;
    display: block;
    width: auto;
    left: 50%;
    transform: translate(-50%, 0%);
  }

  #svg2 {
    top: -3%;
    left: 2366%;
  }

  #svg4 {
    left: 6%;
  }

  #svg5 {
    top: -20%;
  }
  /* ------------ */

  /* intro-styling */
  .gronland {
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .gronlandLine {
    position: relative;
    top: -1%;
    left: 75%;
  }

  .intro {
    height: 70vh;
  }

  .content-intro-placering {
    position: relative;
    top: 21%;
  }
  /* --------- */

  /* section 3 */
  .section-3 {
    height: 640px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .section-4 {
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .section-5 {
    height: 507px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .section-6 {
    height: 507px;
  }
  /* Alle billeders størrelse?? */
  .billede {
    width: 390px;
  }
  /* ---------- */
  .small {
    height: 100vh;
  }

  .hidden {
    opacity: 0;
  }

  .citat-img {
    position: absolute;
    top: -28px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .webfeature-container-width {
    width: 60vh;
  }
  .webfeature-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #000e38;
  }
</style>
